UnityStudyGroup2022/.vs
UnityStudyGroup2022/*.csproj
UnityStudyGroup2022/Library
UnityStudyGroup2022/Temp/
UnityStudyGroup2022/Library/
UnityStudyGroup2022/obj/
UnityStudyGroup2022/*.unitypackage
UnityStudyGroup2022/*.sln
UnityStudyGroup2022/UnityPackageManager
UnityStudyGroup2022/*.collabignore
UnityStudyGroup2022/AssetBundles/
UnityStudyGroup2022/EXE/